body {
  font-family: 'Poppins', sans-serif;
}

.nav-underline a {
  color: black;
}

.nav-underline a:hover {
  color: #00d1fa;
}

.nav-scroller {
  background-color: white;
}

.pl-150 {
  padding-left: 150px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.photo-profile {
  width: 150px;
  height: 150px;
  float: left;
  /* margin-right: 10px; */
}

.kategori-icon {
  width: 60px;
  height: 60px;
}

.kategori a img:hover {
  transform: scale(1.2);
}

.profil a i {
  font-size: 25px;
  color: #00d1fa;
}

.profil a i:hover {
  color: grey;
}

.btn-master, .btn-thirdty, .btn-primary, .btn-secondary {
  padding: 11px 36px 11px 36px;
  border-radius: 100px;
  border: 0;
  font-weight: 500;
}

.btn-thirdty {
  background: #31B380;
  color: #fff;
}

.btn-primary {
  background: #00d1fa;
  color: #fff;
}

.btn-primary:hover {
  background: #31B380;
}

.story {
  font-weight: 600;
  font-size: 25px;
  color: #31B380;
  /* -webkit-text-stroke: 1px white; */
}

.homepage {
  margin-top: 85px;
}

.judul {
  font-weight: 600;
  font-size: 25px;
  color: #00d1fa;
}

.judul-post {
  margin-top: 130px;
}

.judul-products {
  font-weight: 500;
  font-size: 18px;
  color: #00d1fa;
}

.price-products {
    font-weight: 600;
    font-size: 17px;
    color: #000000;
}

.breadcrumb li a {
  font-weight: 400;
  font-size: 18px;
  color: #00d1fa;
  text-decoration: none;
}

.eventpage {
  margin-top: 200px;
}

.juduldashboard {
    font-weight: 600;
    font-size: 30px;
    color: #00d1fa;
}

.judul-how {
    margin-top: 130px;
    font-weight: 600;
    font-size: 30px;
    color: #00d1fa;
}

.copywriting {
  margin-top: 200px;
}

.copywriting h2 {
  color: #00d1fa;
  font-weight: 600;
  font-size: 30px;
}

.primary-header {
  font-weight: 600;
  font-size: 30px;
  color: #211B3D;
}

.pb-70 {
  padding-bottom: 70px;
}

.header-wrap .primary-header {
  margin-top: 8px;
}

.header-wrap .story {
  margin-bottom: 0;
}

.text-purple {
  color: blue;
}

.text-white {
  color: #fff !important;
}

/* aa */
.btn-secondary {
  background: #9fd7ea;
  color: black;
}

.banner {
  padding: 80px 0 80px 0;
}


.banner .header {
  margin: 20px 0 20px 0;
  color: black;
  font-weight: 600;
}

.banner .support {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  margin-top: 15px;
}

.banner .space {
  margin-top: 40px;
}

.basic-form input {
  border: 1px solid #E7E5F4;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
}

.text-green {
  color: #31B380 !important;
}

/* aa */
.text-red {
  color: #f73353 !important;
}

.navbar{
  box-shadow: black;
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 25px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
  
}

.sticky{
  background-color: #fff;
  padding: 15px 0;
}

.navbar .user-logged a {
  color: #211B3D;
  text-decoration: none;
}

.navbar .user-logged .user-photo {
  width: 56px;
  height: 56px;
  margin-left: 10px;
}

.navbar .navbar-nav .nav-link {
  color: #211B3D;
  font-weight: 400;
  padding-left: 30px;
}

/* aa */
.navbar .navbar-nav .active {
  color: #13a7d7 !important;
  font-weight: 500;
}

.navbar .navbar-brand img {
  height: 42px;
}

.footer {
  background-color: #9fd7ea;
}

footer {
  height: 150px;
}


/*# sourceMappingURL=main.css.map */

#home{
  height: 100vh;
  min-height: 500px;
  background: url(../img/banner-3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#loginuser{
  height: 100vh;
  min-height: 500px;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#loginuser .right {
  margin-top: 150px;
}

#loginuser .right .btn-border {
  margin-top: 20px;
  border: 1px solid #E7E5F4;
  border-radius: 50px;
  padding: 12px 80px 12px 80px;
}

#pages{
  background: url(../img/banner-5.jpg) no-repeat center;
  background-size: cover;
}

#home .content h1::after{
  content: "Desain Grafis";
  animation: textanim 8s linear infinite;
}


@keyframes textanim{
  25%{
    content: "Zoom Meeting";
  }
  50%{
    content: "Web Programming";
  }
  75%{
    content: "Webinar Room";
  }
}

.share .btn i {
  font-size: 25px;
  margin: 10px;
  transform: scale(1.3);
  color: #00d1fa;
}

.share p {
  margin-top: 23px;
}

.share .btn i:hover {
  color: grey;
}

.review .card a {
  text-decoration: none;
}

.review .card:hover {
  transform: scale(1.1);
}

.review-info i {
  color: #00d1fa;
  font-size: 25px;
}


.kategori {
  margin-top: 60px;
}

.kategori p{
  font-size: 13px;
  margin-top: 8px;
  color: #000000;
}

.kategori a i {
  font-size: 30px;
}

.kategori a {
  text-decoration: none;
}

.kategori a i:hover {
  transform: scale(1.1);
}

.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #00d1fa;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;
}

.pesanan {
  margin-top: 60px;
}

.detailproduct {
  margin-top: 75px;
}

.product {
  margin-top: 90px;
}

.userdashboard {
  margin-top: 125px;
}

.steps .cover {
  height: 497px;
}


.side {
  position: fixed;
  top: 70%;
  transform: translateY(-5%);
}

.side a {
  font-size: 15px;
  display: block;
  width: 110px;
  padding: 10px;
  text-decoration: none;
  margin: 8px 0;
  color: white;
  border-radius: 8px;
  margin-left: -70px;
  transition: 0.6s all;
}


.side a:hover {
  margin-left: 0;
}


